extends layout

block vars
  - var title = 'E2D3'
  - var main = 'chart.js'

block head
  style.
    body {
      overflow: hidden;
      -ms-overflow-style: none;
    }
  script.
    // HACKED: prevent LiveReload shutdowning parent's LiveReload
    document.addEventListener('LiveReloadConnect', function () {
      LiveReload.__proto__.shutDown = function () { /* noop */ };
    });

block navleft
  ul.nav.navbar-nav
    li
      button.btn.btn-sm.btn-default.navbar-btn(v-on='click: rebindSelectedCells', data-toggle='tooltip', data-placement='bottom', title='Click when you change selected area')
        i.fa.fa-table
        |  Link data
      button.btn.btn-sm.btn-default.navbar-btn(v-on='click: fillWithSampleData', v-if='!bound', v-cloak, data-toggle='tooltip', data-placement='bottom', title='Select empty cell and then click')
        i.fa.fa-refresh
        |  Retry filling sample data

block navright
  ul.nav.navbar-nav.navbar-right
    li
      .dropdown
        button.btn.btn-sm.btn-default.dropdown-toggle.navbar-btn(data-toggle='dropdown', aria-expanded='true')
          div(v-component='theme-label', name='Select color theme', colors='{{selectedColors}}')
          | &nbsp;
          spean.caret
        ul.dropdown-menu(role='menu', aria-labelledby='e2d3-save')
          div(v-component='theme', v-repeat='themes', inline-template)
            li
              a(v-on='click: select', role='menuitem', tabindex=-1, href='javascript:')
                div(v-component='theme-label', name='{{name}}', colors='{{colors}}')
    li
      button.btn.btn-sm.btn-default.navbar-btn(v-on='click: shareChart')
        i.fa.fa-share-square-o
        |  Share chart
    li
      .dropdown
        button.btn.btn-sm.btn-default.dropdown-toggle.navbar-btn(data-toggle='dropdown', aria-expanded='true')
          i.fa.fa-file-image-o
          |  Save image&nbsp;
          spean.caret
        ul.dropdown-menu(role='menu', aria-labelledby='e2d3-save')
          li: a(v-on='click: saveImage("svg")', role='menuitem', tabindex=-1, href='javascript:', download='image.svg') Save as SVG
          li: a(v-on='click: saveImage("png")', role='menuitem', tabindex=-1, href='javascript:', download='image.png') Save as PNG
    li
      button.btn.btn-sm.btn-default.navbar-btn(v-on='click: goHome')
        i.fa.fa-home

block content
  section#e2d3-frame(v-el='frame')
  div(v-component='alert', v-ref='alert')
  div(v-component='share', v-ref='share')
