extends layout

block vars
  - var title = 'E2D3'
  - var main = 'chart.js'

block navleft
  li
    button#e2d3-rebind.btn.btn-default.navbar-btn(data-toggle='tooltip', data-placement='right', title='Click when you change selected area')
      i.fa.fa-link
    button#e2d3-check.btn.btn-default.navbar-btn
      i.fa.fa-info-circle
block navright
  li
    button.btn.btn-default.navbar-btn(type='button' onclick='location.href="index.html"')
      i.fa.fa-home

block content
  section#e2d3-chart-area
