extends layout

block vars
  - var title = 'E2D3'
  - var main = 'chart.js'

block style
  style.
    body {
      overflow: hidden;
      -ms-overflow-style: none;
    }

block navleft
  ul.nav.navbar-nav
    li
      button#e2d3-rebind.btn.btn-sm.btn-default.navbar-btn(data-toggle='tooltip', data-placement='right', title='Click when you change selected area')
        i.fa.fa-refresh

block navright
  ul.nav.navbar-nav.navbar-right
    li
      .dropdown
      button#e2d3-save.btn.btn-sm.btn-default.dropdown-toggle.navbar-btn(type='button', data-toggle='dropdown', aria-expanded='true')
        i.fa.fa-file-image-o
        |  Save Image&nbsp;
        spean.caret
      ul.dropdown-menu(role='menu', aria-labelledby='e2d3-save')
        li(role='presentation'): a#e2d3-save-svg(role='menuitem', tabindex=-1, href='#', download='image.svg') Save AS SVG
        li(role='presentation'): a#e2d3-save-png(role='menuitem', tabindex=-1, href='#', download='image.png') Save AS PNG
    li
      button.btn.btn-sm.btn-default.navbar-btn(type='button' onclick='location.href="index.html"')
        i.fa.fa-home

block content
  section#e2d3-frame
