extends layout

block vars
  - var title = 'E2D3'
  - var main = 'chart.js'

block template
  script#themes(type='x-template')
    table
      tr(v-for='theme in themes')
        td
          a(@click='select(theme)', tabindex=-1, href='javascript:')
            theme-label(:name='theme.name', :colors='theme.colors')

block head
  style.
    body {
      overflow: hidden;
      -ms-overflow-style: none;
    }
  script.
    // HACKED: prevent LiveReload shutdowning parent's LiveReload
    document.addEventListener('LiveReloadConnect', function () {
      LiveReload.__proto__.shutDown = function () { /* noop */ };
    });

block navleft
  ul.nav.navbar-nav(v-cloak)
    li
      a(href='javascript:', @click='rebindSelectedCells', data-toggle='tooltip', data-placement='bottom', title='Click when you change selected area')
        i.fa.fa-table
        |  {{$t('linkData')}}
    li(v-if='!bound', v-cloak)
      a(href='javascript:', @click='fillWithSampleData', data-toggle='tooltip', data-placement='bottom', title='Select empty cell and then click')
        i.fa.fa-refresh
        |  {{$t('retryFilling')}}

block navright
  ul.nav.navbar-nav.navbar-right(v-cloak)
    li.dropdown(v-if='capabilities.colors', v-cloak)
      a.dropdown-toggle(href='javascript:', data-toggle='dropdown')
        theme-label(:name='$t("selectColorTheme")', :colors='selectedColors')
        | &nbsp;
        span.caret
      div.dropdown-menu
        table.theme-list
          tr
            td: themes(:themes='themes | filterBy "continuous" in "type"')
            td: themes(:themes='themes | filterBy "highlow" in "type"')
            td: themes(:themes='themes | filterBy "discrete" in "type"')
    li
      a(href='javascript:', @click='shareChart')
        i.fa.fa-share-square-o
        |  {{$t('shareChart')}}
    li.dropdown
      a.dropdown-toggle(href='javascript:', data-toggle='dropdown')
        i.fa.fa-file-image-o
        |  {{$t('saveImage')}}&nbsp;
        span.caret
      ul.dropdown-menu
        li: a(@click='saveImage("svg")', tabindex=-1, href='javascript:', download='image.svg') {{$t('saveAsSvg')}}
        li: a(@click='saveImage("png")', tabindex=-1, href='javascript:', download='image.png') {{$t('saveAsPng')}}
    li
      a(href='javascript:', @click='goHome')
        i.fa.fa-home

block content
  section#e2d3-frame(v-el:frame)
  alert-dialog(v-ref:alert)
  share-dialog(v-ref:share)
