extends layout

block vars
  - var title = 'E2D3'
  - var main = 'chart.js'

block head
  style.
    body {
      overflow: hidden;
      -ms-overflow-style: none;
    }
  script.
    // HACKED: prevent LiveReload shutdowning parent's LiveReload
    document.addEventListener('LiveReloadConnect', function () {
      LiveReload.__proto__.shutDown = function () { /* noop */ };
    });

block navleft
  ul.nav.navbar-nav
    li
      a(href='javascript:', v-on='click: rebindSelectedCells', data-toggle='tooltip', data-placement='bottom', title='Click when you change selected area')
        i.fa.fa-table
        |  Link data
      a(href='javascript:', v-on='click: fillWithSampleData', v-if='!bound', v-cloak, data-toggle='tooltip', data-placement='bottom', title='Select empty cell and then click')
        i.fa.fa-refresh
        |  Retry filling sample data

block navright
  ul.nav.navbar-nav.navbar-right
    li.dropdown
      a.dropdown-toggle(href='javascript:', data-toggle='dropdown')
        div(v-component='theme-label', name='Select color theme', colors='{{selectedColors}}')
        | &nbsp;
        spean.caret
      div.dropdown-menu
        template#themes
          table
            tr(v-repeat='themes')
              td
                a(v-on='click: select', tabindex=-1, href='javascript:')
                  div(v-component='theme-label', name='{{name}}', colors='{{colors}}')
        table.theme-list
          tr
            td: themes(themes='{{themes | filterBy "continuous" in "type"}}')
            td: themes(themes='{{themes | filterBy "highlow" in "type"}}')
            td: themes(themes='{{themes | filterBy "discrete" in "type"}}')
    li
      a(href='javascript:', v-on='click: shareChart')
        i.fa.fa-share-square-o
        |  Share chart
    li.dropdown
      a.dropdown-toggle(href='javascript:', data-toggle='dropdown')
        i.fa.fa-file-image-o
        |  Save image&nbsp;
        spean.caret
      ul.dropdown-menu
        li: a(v-on='click: saveImage("svg")', tabindex=-1, href='javascript:', download='image.svg') Save as SVG
        li: a(v-on='click: saveImage("png")', tabindex=-1, href='javascript:', download='image.png') Save as PNG
    li
      a(href='javascript:', v-on='click: goHome')
        i.fa.fa-home

block content
  section#e2d3-frame(v-el='frame')
  div(v-component='alert', v-ref='alert')
  div(v-component='share', v-ref='share')
