extends layout

block vars
  - var title = 'E2D3'
  - var main = 'chart.js'

block navleft
  ul.nav.navbar-nav
    li
      button#e2d3-rebind.btn.btn-default.navbar-btn(data-toggle='tooltip', data-placement='right', title='Click when you change selected area')
        i.fa.fa-refresh

block navright
  ul.nav.navbar-nav.navbar-right
    li
      button.btn.btn-default.navbar-btn(type='button' onclick='location.href="index.html"')
        i.fa.fa-home

block content
  section#e2d3-frame
