extends layout

block vars
  - var title = 'E2D3'
  - var page = 'index'
  - var main = 'index.js'

block navleft

block navright
  ul.nav.navbar-nav.navbar-right
    li#delegate(style='display: none'): a(href='#') 
      i.fa.fa-bug
      |  Go into delegate mode

block content
  #sidebar
    template(v-repeat='tags')
      a.sidebar-item(href='javascript:', v-class='active: id == selected', v-on='click: select(id)')
        i.fa.fa-fw(class='fa-{{image}}')
        .sidebar-label {{label}}
  #contrib.row.grid(v-cloak)
    div(v-component='chart', v-repeat='visibleCharts', inline-template)
      .col-xs-4
        figure
          .outer
            .inner.cover(v-style='background-image: "url(" + cover + ")"')
              .title {{title}}
          figcaption
            .action
              a.btn.btn-sm.btn-visualize(href='{{link}}')
                i.fa.fa-bar-chart
                |  Visualize
            .readme {{{readme}}}
