extends layout

block vars
  - var title = 'E2D3'
  - var page = 'index'
  - var main = 'index.js'

block template
  template#chart
    figure
      .outer
        .inner.cover(:style='coverBackground')
          .title {{chart.title}}
      figcaption
        .action
          a.btn.btn-sm.btn-visualize(:href='link')
            i.fa.fa-bar-chart
            |  Visualize
        .readme {{{readme}}}

block navright
  ul.nav.navbar-nav.navbar-right
    li#delegate(style='display: none'): a(href='#') 
      i.fa.fa-bug
      |  Go into delegate mode

block content
  #sidebar
    template(v-for='tag in tags')
      a.sidebar-item(href='javascript:', :class='{ active: tag.id == selected }', @click='select(tag.id)')
        i.fa.fa-fw(class='fa-{{tag.image}}')
        .sidebar-label {{tag.label}}
  #contrib.row.grid(v-cloak)
    .col-xs-4(v-for='chart in selectedCharts')
      chart(:chart='chart')
