extends layout

block vars
  - var title = 'E2D3'
  - var main = 'index.js'

block navleft

block navright
  ul.nav.navbar-nav.navbar-right
    li#delegate(style='display: none'): a(href='#') 
      i.fa.fa-bug
      |  Go into delegate mode

block content
  #contrib.row.grid
