doctype html
html
  block vars
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title= title
    link(rel='stylesheet', href='lib/main.css')
  body
    #log.log
    //- header
    header
      nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            .navbar-brand(href='index.html')
              img(src='logo.png', width=32, height=20)
          #navbar.collapse.navbar-collapse
            block navleft
            block navright

    //- body
    #maincontent.container-fluid
      block content
    script(src='https://www.promisejs.org/polyfills/promise-6.0.1.min.js')
    script(src='https://www.promisejs.org/polyfills/promise-done-6.0.1.min.js')
    script(src='https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js')
    //- load if variable 'main' is defined
    script(src='lib/libs.js', data-main=main || false)
