doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    style.
      html, body, figure {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
      }
      #e2d3-chart-area, #e2d3-chart-area2 {
        width: 400px;
        height: 400px;
        float: left;
      }
  body
    figure#e2d3-chart-area
    figure#e2d3-chart-area2
    script(src='lib/e2d3.js', data-base-url='/contrib/barchart-javascript', data-script-type='js', data-data-type='csv', data-viewport='#e2d3-chart-area')
    script(src='lib/e2d3.js', data-base-url='/contrib/wordcloud', data-script-type='js', data-data-type='csv', data-viewport='#e2d3-chart-area2')
