#e2d3-frame {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.theme-list {
  width: 160px * 3;
  background-color: $navbar-default-bg;

  > tbody > tr > td {
    vertical-align: top;
  }

  a {
    display: block;
    width: 160px;
    padding: 3px 6px;
    color: $navbar-default-link-color;
    font-size: 12px;
    text-decoration: none;

    &:hover {
      background-color: $navbar-default-link-hover-bg;
      color: $navbar-default-link-hover-color;
    }

    &:active {
      background-color: $navbar-default-link-active-bg;
      color: $navbar-default-link-active-color;
    }
  }
}

.color-table {
  display: inline-table;
  width: 60px;
  margin-right: 8px;
  border: 1px solid #000;
  vertical-align: middle;

  td {
    width: 1%;
    line-height: 16px;
  }
}
